In [103]:
# importing the required libraries
import pandas as pd
import warnings
import requests
from bs4 import BeautifulSoup
warnings.filterwarnings('ignore')

In [104]:
year = [2010,2011,2012,2013,2014]
months = ['january','february','march','april','may','june','july','august','september','october','november','december']

In [105]:
date = []
temp_C = []
temp_F = []
dewPoint_C = []
dewPoint_F = []
humidity = []
windSpeed_kph = []
windSpeed_mph = []
pressure_hg = []
pressure_mb = []
precipitation_mm = []
precipitation_in = []

In [106]:
for y in year:
    for m in months:
        url = 'https://tcktcktck.org/uttarakhand/'+m+'-'+str(y)
        response = requests.get(url)
        #getting the content
        src = response.content

        #creating the BeautifulSoup object
        soup = BeautifulSoup(src,'html.parser')

        #getting all the tables form the webpage
        table = soup.find_all("table")
        
        #getting all the rows of the table 
        rows = table[1].find_all("tr")

        
        for i in range(2,len(rows)):
            row_values = rows[i].find_all("td")
            date.append(row_values[0].text.strip())
            temp_C.append(row_values[1].text.split('|')[0].strip())
            temp_F.append(row_values[1].text.split('|')[1].strip())
            dewPoint_C.append(row_values[2].text.split('|')[0].strip())
            dewPoint_F.append(row_values[2].text.split('|')[1].strip())
            humidity.append(row_values[3].text.strip())
            windSpeed_kph.append(row_values[4].text.split('|')[0].strip())
            windSpeed_mph.append(row_values[4].text.split('|')[1].strip())
            pressure_hg.append(row_values[5].text.split('|')[0].strip())
            pressure_mb.append(row_values[5].text.split('|')[1].strip())
            precipitation_mm.append(row_values[6].text.split('|')[0].strip())
            precipitation_in.append(row_values[6].text.split('|')[1].strip())

In [107]:
data = {
    "Date" : date,
    "Temperature (C)": temp_C,
    "Temperature (F)": temp_F,
    "Dew Point (C)": dewPoint_C,
    "Dew Point (F)": dewPoint_F,
    "Humidity": humidity,
    "Wind Speed (kph)":windSpeed_kph,
    "Wind Speed (mph)":windSpeed_mph,
    "Pressure (hg)":pressure_hg,
    "Pressure (mb)":pressure_mb,
    "Precipitation (mm)": precipitation_mm,
    "Precipitation (in)": precipitation_in,
}
data = pd.DataFrame(data)
data.head()

,Date,Temperature (C),Temperature (F),Dew Point (C),Dew Point (F),Humidity,Wind Speed (kph),Wind Speed (mph),Pressure (hg),Pressure (mb),Precipitation (mm),Precipitation (in)
0,2010-01-01,11,51.8,-1,30.2,52,6,3.73,30.06,1018,0.0,0.0
1,2010-01-02,12,53.6,0,32.0,54,6,3.73,30.09,1019,0.0,0.0
2,2010-01-03,12,53.6,-0,32.0,49,5,3.11,30.09,1019,0.0,0.0
3,2010-01-04,13,55.4,4,39.2,62,8,4.97,30.0,1016,0.0,0.0
4,2010-01-05,12,53.6,1,33.8,55,6,3.73,29.94,1014,0.0,0.0

In [108]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1826 entries, 0 to 1825
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                1826 non-null   object
 1   Temperature (C)     1826 non-null   object
 2   Temperature (F)     1826 non-null   object
 3   Dew Point (C)       1826 non-null   object
 4   Dew Point (F)       1826 non-null   object
 5   Humidity            1826 non-null   object
 6   Wind Speed (kph)    1826 non-null   object
 7   Wind Speed (mph)    1826 non-null   object
 8   Pressure (hg)       1826 non-null   object
 9   Pressure (mb)       1826 non-null   object
 10  Precipitation (mm)  1826 non-null   object
 11  Precipitation (in)  1826 non-null   object
dtypes: object(12)
memory usage: 171.3+ KB

In [91]:
data

,Date,Temperature (C),Temperature (F),Dew Point (C),Dew Point (F),Humidity,Wind Speed (kph),Wind Speed (mph),Pressure (hg),Pressure (mb),Precipitation (mm),Precipitation (in)
0,2010-02-01,14,57.2,-4,24.8,36,9,5.59,30.03,1017,0.0,0.0
1,2010-02-02,14,57.2,-9,15.8,23,10,6.21,30.06,1018,0.0,0.0
2,2010-02-03,15,59.0,-7,19.4,26,11,6.84,30.06,1018,0.0,0.0
3,2010-02-04,15,59.0,-8,17.6,24,11,6.84,30.06,1018,0.0,0.0
4,2010-02-05,17,62.6,-4,24.8,31,11,6.84,30.06,1018,0.0,0.0
5,2010-02-06,18,64.4,2,35.6,40,10,6.21,30.06,1018,0.0,0.0
6,2010-02-07,20,68.0,4,39.2,40,11,6.84,30.06,1018,0.0,0.0
7,2010-02-08,14,57.2,6,42.8,61,15,9.32,29.94,1014,7.4,0.29
8,2010-02-09,11,51.8,9,48.2,92,12,7.46,29.88,1012,27.4,1.08
9,2010-02-10,14,57.2,2,35.6,53,10,6.21,30.06,1018,0.0,0.0
10,2010-02-11,16,60.8,3,37.4,46,9,5.59,30.09,1019,0.0,0.0
11,2010-02-12,15,59.0,2,35.6,59,13,8.08,29.5,999,2.4,0.09
12,2010-02-13,16,60.8,2,35.6,45,9,5.59,30.03,1017,0.0,0.0
13,2010-02-14,15,59.0,0,32.0,35,10,6.21,30.0,1016,0.0,0.0
14,2010-02-15,17,62.6,1,33.8,38,12,7.46,30.0,1016,0.6,0.02
15,2010-02-16,17,62.6,4,39.2,38,10,6.21,30.03,1017,0.4,0.02
16,2010-02-17,16,60.8,-1,30.2,30,11,6.84,30.03,1017,0.0,0.0
17,2010-02-18,17,62.6,2,35.6,43,9,5.59,30.0,1016,0.0,0.0
18,2010-02-19,16,60.8,4,39.2,43,10,6.21,30.03,1017,0.0,0.0
19,2010-02-20,17,62.6,4,39.2,41,10,6.21,30.03,1017,0.0,0.0
20,2010-02-21,20,68.0,4,39.2,43,9,5.59,30.0,1016,0.0,0.0
21,2010-02-22,20,68.0,7,44.6,45,10,6.21,29.83,1010,0.5,0.02
22,2010-02-23,17,62.6,10,50.0,73,13,8.08,29.62,1003,13.8,0.54
23,2010-02-24,19,66.2,8,46.4,58,8,4.97,29.88,1012,0.0,0.0
24,2010-02-25,19,66.2,7,44.6,53,10,6.21,29.94,1014,0.0,0.0
25,2010-02-26,23,73.4,8,46.4,47,9,5.59,29.97,1015,0.0,0.0
26,2010-02-27,23,73.4,7,44.6,44,11,6.84,29.91,1013,0.0,0.0
27,2010-02-28,23,73.4,5,41.0,38,10,6.21,29.91,1013,0.0,0.0

In [109]:
# converting the df to csv
# data.to_csv("Weather Data.csv",index=False)